body{
    background-image: url(/img/fondoMov.jpg);
}
h3{
    font-family : spartan;
    font-size   : 2rem;
    margin-top: 12%;
    text-align: center;
    color: #fffff0;
}
#titulo{
    font-family : spartan;
    color: #f08080;
}
.input{
    -webkit-appearance: none;
    height: 1.5rem;
    outline: none;
    background-color: #ffebfe9c;
    border: 0;
    font-family : spartan;
    font-size   : 80%;
    color: #4b0f32de;
    overflow: hidden;
    border-radius: 10px;
    margin: 2%;
}
label{
    font-family : spartan;
    font-size   : 80%;
    margin-top: 12%;
    text-align: center;
    color: #f7eff0;
}
.boton{
    box-shadow: 0 8px 16px 0 #00000033, 0 6px 20px 0 #49454530;
    border-radius: 10px;
    background-color: #fcf4f4;
    color: #b60046;
    border: 0;
    height: 2rem;
    margin: 2%;
    font-family : spartan;
    text-align: center;
}
:hover.boton{
    background-color: #6b1564;
    color: #fcf4f4;
    cursor: pointer;
}